@import "variables";
@import "mixins";

.underlined {
    border-bottom: 2px solid $dark;
}

.uppercase {
    text-transform: uppercase;
}

.muted {
    color: $muted;
}

.flex {
    display: flex;

    &.column-on-small {
        flex-direction: column;

        @include medium {
            flex-direction: row;
        }
    }
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.small-text {
    font-size: 1.1rem;
}

.pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.fit-content {
    width: fit-content;
}

.align-self-center {
    align-self: center;
}

.y-scroll {
    overflow-y: scroll;
}

.heading {
    font-family: "Butler-Bold", sans-serif;
}
