// Colors
$green: #022826;
$green-light: #013E3B;
$dark: #000000;
$white00: #fff;
$white10: #EBEAE7;
$white20: #DFDEDB;
$muted: #7A7A7A;
$pink: #D5869D;

// z-index
$zIndexHeader: 300;
$zIndexDrawer: 1000;