// Colors
$green: #022826;
$green-light: #013e3b;
$dark: #000000;
$white00: #fff;
$white10: #ebeae7;
$white20: #dfdedb;
$gray-light: #dddcd9;
$muted: #7a7a7a;
$pink: #d5869d;

// z-index
$zIndexHeader: 300;
$zIndexDrawer: 1000;
$zIndexDrawerOverlay: 999;
