@import "variables";
@import "mixins";

h1 {
    margin: 2rem 0;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $green;
    color: $white00;
    padding: 0 5rem 5rem;

    .left, .right {
        flex: 1;
    }
    
    .left {
        .image-backdrop {
            width: 80%;
            background-color: $green-light;

            img {
                position: relative;
                left: -2rem;
                top: 1rem;
                width: 100%;
                height: 400px; // TODO: remove or adjust
            }
        }
    }
}

.mb {
    @include spacing-bottom;
}

.button {
    display: flex;
    width: fit-content;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;

    &.light {
        background-color: $white00;
        color: $dark;
    }
    
    &.dark {
        background-color: $dark;
        color: $white00;
    }
}

.collection-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem 7rem;
    background-color: $white20;

    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .product-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 1rem;

            .product-description {
                line-height: 3rem;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}

.section-delimeter {
    margin: 0 4rem;
    border-bottom: 1px solid $white20;
}