@import "variables";
@import "mixins";

h1 {
    margin: 2rem 0;
}

header {
    color: $white00;

    .logo {
        fill: $white00;
    }
}

.hero-container {
    flex-direction: column;
    padding-bottom: 5rem;
    text-align: center;

    @include medium {
        flex-direction: row;
        padding: 92px 5rem 5rem;
        text-align: left;
    }

    display: flex;
    align-items: center;
    background-color: $green;
    color: $white00;

    .left,
    .right {
        flex: 1;
    }

    .left {
        .image-backdrop {
            width: 100%;
            background-color: transparent;

            @include medium {
                width: 80%;
                background-color: $green-light;
            }

            img {
                width: 100%;

                @include medium {
                    position: relative;
                    left: -2rem;
                    top: 1rem;
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3rem;

        @include medium {
            display: block;
        }
    }
}

.mb {
    @include spacing-bottom;
}

.collection-container {
    @include section;
    padding-bottom: 7rem;
    flex-direction: column;
    text-align: center;

    .products {
        display: flex;
        flex-direction: column;

        @include medium {
            flex-direction: row;
        }

        .product-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 1rem;
            margin-top: 2rem;

            @include medium {
                margin-top: 0;
            }

            .product-description {
                line-height: 3rem;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}

.section-delimeter {
    margin: 0 4rem;
    height: 2px;
    background-color: $white20;
}

.video-container {
    @include section;

    flex-direction: column;

    .video-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        width: 100%;

        @include medium {
            flex-direction: row;
            text-align: left;
        }

        h2,
        p {
            flex: 1;
        }
    }

    .video-js {
        .vjs-big-play-button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $green;

            .vjs-icon-placeholder:before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -25%);
            }
        }
    }
}

.pros-container {
    @include section;

    flex-direction: column-reverse;
    font-weight: normal;
    justify-content: center;
    text-align: center;

    @include medium {
        flex-direction: row;
        text-align: left;
    }

    .pros-list {
        @include medium {
            width: 30%;
        }
    }

    .pros-image {
        margin-left: 3rem;
    }

    .pros-item {
        margin-top: 4rem;
    }
}

.reviews-container {
    @include section;

    background-color: $green;
    color: $white00;
    padding: 5rem 4rem;

    .review-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include medium {
            flex-direction: row;
        }

        .review-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 3rem;

            @include small {
                width: 50%;
            }

            @include medium {
                width: 20%;
                margin-top: 0;

                &:not(:first-child) {
                    margin-left: 3rem;
                }
            }

            .reviewer-name {
                text-transform: uppercase;
                margin-top: 2rem;
            }

            .review-text {
                font-style: italic;
            }

            .reviewer-verified {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                color: $muted;
                font-size: 1rem;

                img {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

.instafeed-container {
    @include section;

    #insta-feed {
        width: 100%;

        h2 {
            color: $pink;
            text-transform: uppercase;
            margin-top: 0;
        }
    }
}

.cta-container {
    @include section;

    flex-direction: column;
    padding-bottom: 5rem;
    text-align: center;
}
