@import "variables";
@import "mixins";
@import "helpers";

$glide-class: "products-glide";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
$glide-class: "reviews-glide";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@font-face {
    font-family: "AzoSans";
    src: url("AzoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AzoSans-Medium";
    src: url("AzoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Butler-ExtraBold";
    src: url("Butler_ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Butler-Bold";
    src: url("Butler_Bold.otf") format("opentype");
}

@font-face {
    font-family: "Butler-Medium";
    src: url("Butler_Medium.otf") format("opentype");
}

html,
body {
    background-color: $white10;
    font-family: "AzoSans", sans-serif;
    font-weight: normal;
}

p,
span {
    font-family: "AzoSans", sans-serif;
    letter-spacing: 1px;
}

.bag-trigger {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.button {
    font-family: "AzoSans-Medium", sans-serif;
    display: flex;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
    justify-content: center;
    letter-spacing: 1px;
    user-select: none;

    &.light {
        background-color: $white00;
        color: $dark;
    }

    &.dark {
        background-color: $dark;
        color: $white00;
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
}

header {
    text-transform: uppercase;
    font-family: "AzoSans", sans-serif;
    letter-spacing: 2px;
    z-index: $zIndexHeader;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.4s ease-in-out, background-color 0.2s ease-in-out;

    &.index-page,
    &.collection-page {
        color: $white00;
        .logo {
            fill: $white00;
        }
        .cart-icon {
            stroke: $white00;
        }

        .hamburger-inner {
            &,
            &::before,
            &::after {
                background-color: $white00;
            }
        }
    }

    &.floating {
        background-color: rgba($color: #fff, $alpha: 0.9);
        color: $dark;

        .logo {
            fill: $dark;
        }

        .cart-icon {
            stroke: $dark;
        }
    }

    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        color: $dark;

        @include medium {
            display: none;
        }
    }

    .nav-desktop {
        z-index: $zIndexHeader;
        display: none;

        @include medium {
            display: flex;
        }

        padding: 3rem 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;
            flex-direction: row;

            a.nav-link {
                &:not(:first-child) {
                    margin-left: 3rem;
                }
            }
        }

        .header-icons {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 18px;
            }

            div {
                margin-right: 1.5rem;
            }
        }
    }
}

h1 {
    font-family: "Butler-ExtraBold", sans-serif;
    font-size: 2.8rem;

    @include medium {
        font-size: 4rem;
    }
}

h2 {
    font-family: "Butler-Bold", sans-serif;
    font-size: 2.5rem;

    @include medium {
        font-size: 3rem;
    }
}

.footer-container {
    background-color: $green;
    height: 300px;
    padding: 5rem;
    color: $white00;
    font-weight: normal;

    .footer-items {
        width: 100%;

        @include medium {
            width: 380px;
        }
    }

    h2 {
        margin: 0;
    }
}

form.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    button {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $muted;
        text-transform: uppercase;
        color: $white00;
        font-size: 1rem;
        outline: none;
    }

    .input {
        background-color: transparent;
        color: $muted;
        outline: none;
        height: 25px;
        font-weight: normal;
        border-bottom: 1px solid $muted;
        padding-left: 0;
        border-radius: 0;
        box-shadow: none;
        font-size: 1rem;
    }
}

.drawer-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $dark;
    color: $white00;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(-100%);
    z-index: $zIndexDrawer;
    transition: transform 0.4s ease-in-out;
    padding: 4rem;

    &.open {
        transform: translateX(0);
    }

    .drawer__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .drawer__body {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .drawer__item {
            margin-top: 2rem;
            font-size: 4rem;

            a {
                font-family: "Butler-Medium", sans-serif;
            }

            &.secondary {
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
    }

    .drawer__footer {
        width: 100%;
        padding: 4rem;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.bag-drawer {
    position: fixed;
    top: 0;
    right: 0;
    z-index: $zIndexDrawer;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: $dark;
    color: $white00;
    transition: transform 0.4s ease-in-out;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include medium {
        width: 450px;
    }

    &.open {
        transform: translateX(0);
    }

    .drawer__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .drawer__body {
        margin-top: 2rem;

        .drawer__item {
            margin-top: 2rem;
            border-top: 2px solid $muted;
            padding-top: 2rem;
            display: flex;
            align-items: center;

            &:last-child {
                border-bottom: 2px solid $muted;
                padding-bottom: 2rem;
            }

            .drawer__item-image {
                flex: 1;
                // shift left because of the image size
                position: relative;
                left: -25px;
            }

            .drawer__item-info {
                flex: 2;
                // shift left because of the image size
                position: relative;
                left: -25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100px;
            }

            .drawer__item-price {
                height: 100px;
                justify-content: flex-start;
            }
        }

        .count-modifier {
            cursor: pointer;
            font-size: 2rem;
        }
    }

    .cart-subtotal {
        display: flex;
        flex-direction: column;
    }

    .drawer__footer {
        align-self: flex-end;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .dashed {
        width: 100%;
        position: relative;
        top: -4px;
        border-bottom: 1px dashed $muted;
    }

    .small-text {
        margin-top: 0.3rem;
    }
}

.drawer-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: $zIndexDrawerOverlay;
}

.collection-container {
    @include section;
    padding-bottom: 7rem;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;

    .products {
        display: flex;
        flex-direction: row;

        .product-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 1rem;
            margin-top: 2rem;

            img {
                height: 300px;
            }

            @include medium {
                margin-top: 0;
            }

            .product-description {
                line-height: 3rem;
                font-weight: normal;
                text-align: center;
            }
        }
    }

    .additional-text {
        line-height: 3rem;
    }
}

.carousel {
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;

    .arrow-left,
    .arrow-right {
        position: absolute;
    }

    .arrow-left {
        left: 1rem;
    }

    .arrow-right {
        right: 1rem;
    }
}

.products-glide__bullets,
.reviews-glide__bullets {
    @include large {
        display: none;
    }

    bottom: -2rem;
}

.products-glide__slide {
    width: auto;

    @include large {
        flex-shrink: 1;
    }
}
