@import "variables";
@import "mixins";
@import "hamburger";

@font-face {
    font-family: "AzoSans";
    src: url("AzoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AzoSans-Medium";
    src: url("AzoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Butler-ExtraBold";
    src: url("Butler_ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Butler-Bold";
    src: url("Butler_Bold.otf") format("opentype");
}


html, body {
    background-color: $white10;
    font-family: "AzoSans", sans-serif;
    font-weight: normal;
}

header {
    text-transform: uppercase;
    font-family: "AzoSans", sans-serif;
    letter-spacing: 2px;
    z-index: $zIndexHeader;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0.6);
    
    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        color: $dark;

        @include medium {
            display: none;
        }
    }
    
    .nav-desktop {
        z-index: $zIndexHeader;
        display: none;

        @include medium {
            display: flex;
        }

        color: $white00;
        padding: 3rem 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;
            flex-direction: row;

            a.nav-link {
                &:not(:first-child) {
                    margin-left: 3rem;
                }
            }
        }

        .header-icons {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 18px;
            }

            div {
                margin-right: 1.5rem;
            }
        }
    }
}

h1 {
    font-family: 'Butler-ExtraBold', sans-serif;
    font-size: 2.8rem;

    @include medium {
        font-size: 4rem;
    }
}

h2 {
    font-family: 'Butler-Bold', sans-serif;
    font-size: 2.5rem;

    @include medium {
        font-size: 3rem;
    }
}

.footer-container {
    background-color: $green;
    height: 300px;
    padding: 5rem;
    color: $white00;
    font-weight: normal;

    .footer-items {
        width: 100%;

        @include medium {
            width: 380px;
        }


        form {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            button {
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $muted;
                text-transform: uppercase;
                color: $white00;
                font-size: 1rem;
                outline: none;
            }
        }
    }

    h2 {
        margin: 0;
    }

    .input {
        background-color: transparent;
        color: $muted;
        outline: none;
        height: 25px;
        font-weight: normal;
        border-bottom: 1px solid $muted;
        padding-left: 0;
        border-radius: 0;
        box-shadow: none;
        font-size: 1rem;
    }
}