@import "variables";

html, body {
    background-color: $white10;
}

.header-container {
    background-color: $green;
    color: $white00;
    text-transform: uppercase;
    font-weight: normal;
    
    nav {
        padding: 3rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .menu {
            display: flex;
            flex-direction: row;

            a.nav-link {
                &:not(:first-child) {
                    margin-left: 3rem;
                }
            }
        }
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}