<div id="home" data-component="home">
  {% section "static-hero" %}
  {% render "product-carousel" with heading: "Made with all natural ingredients,</br> only the real stuff...", shop_all_delicious: true %}
  {% render "section-delimeter" %}
  {% section "static-video" %}
  {% render "section-delimeter" %}
  {% section "static-pros" %}
  {% render "section-delimeter" %}
  {% section "static-bundle" %}
  {% section "static-reviews" %}
  {% section "instafeed" %}
  {% section "static-cta" %}
</div>