<div id="home" data-component="home">
  {% section "static-hero" %}
  {% section "dynamic-featured-collection" %}
  {% render "section-delimeter" %}
  {% section "static-video" %}
  {% render "section-delimeter" %}
  {% section "static-pros" %}
  {% section "static-reviews" %}
  {% section "instafeed" %}
  {% section "static-cta" %}
</div>