{% for collection in collections %}
  <!-- display Best Sellers collection -->
  {% if collection.id == 200754692258 %}
    <section id="best-sellers">
      <div class="collection-container">
        <h2>Made with all natural ingredients, nothing fake, only the real stuff...</h2>
        <div class="products">
          {% for product in collection.products %}
            <div class="product-tile">
              <img src="{{ product.images | first | image_url }}" alt="{{ product.title }} " />
              <h3>{{ product.title }}</h3>
              <p class="product-description">The delightfully luscious and harmonious sensation <br /> on the palate is sure to leave you wanting more.</p>
              <a class="button dark" href="{{ product.url }}">Shop Now</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}