<section data-section-id="{{ section.id }}">
   <div class="cta-container">
      <h2>Want JADE delivered to your door?</h2>
      <a class="button dark" href="/collections/all">Shop Now</a>
   </div> 
</section>