<section data-section-id="{{ section.id }}">
    <div class="hero-container">
        <div class="left">
            <div class="image-backdrop">
                <img src="{{ 'hero.jpg' | asset_url }}" alt="hero" />
            </div>
        </div>
        <div class="right">
            <h1>
                Raise a Glass To The <br /> Sweeter Things In <br /> Life!
            </h1>
            <div class="mb-4">
                <p>The delightful and harmonious flavors of Jade will have you wanting more.</p>
            </div>
            <a class="button light fit-content" href="/collections/all">
                Shop now
            </a>
        </div>
    </div>
</section>