<section data-section-id="{{ section.id }}">
    <div class="pros-container">
        <div class="pros-list">
            <div class="pros-item">
                No sugar added
                <p>
                    Without the sugar, there's no hangover. We keep all the infused natural sweetness with every sip. It's just the good stuff.
                </p>
            </div>
            <div class="pros-item">
                No sugar added
                <p>
                    Without the sugar, there's no hangover. We keep all the infused natural sweetness with every sip. It's just the good stuff.
                </p>
            </div>
            <div class="pros-item">
                No sugar added
                <p>
                    Without the sugar, there's no hangover. We keep all the infused natural sweetness with every sip. It's just the good stuff.
                </p>
            </div>
        </div>
        <div class="pros-image">
            <img src="{{ 'pros-image.jpg' | asset_url }}" />
        </div>
    </div>
</section>