<div id="drawer-menu" class="drawer-menu">
    <div class="drawer__header">
        {% render 'logo' with color: '#fff' %}
        <div id="drawer-close">
            {% render 'icon' with icon: 'close' %}
        </div>
    </div>
    <div class="drawer__body">
        <div class="drawer__item">
            <a href="/products/jade-brut">
                Brut
            </a>
        </div>
        <div class="drawer__item">
            <a href="/products/jade-rose">
                Rosé
            </a>
        </div>
        <div class="drawer__item">
            <a href="/products/jade-canned-rose">
                Canned Rosé
            </a>
        </div>
    </div>
    <div class="drawer__body">
        <div class="drawer__item secondary">
            <a href="/collections/all">
                Shop now
            </a>
        </div>
        <div class="drawer__item secondary">
            <a href="/">
                Home
            </a>
        </div>
        <div class="drawer__item secondary">
            <a href="/faq">
                FAQ
            </a>
        </div>
    </div>

    <div class="drawer__footer">
        <p>Stay up to date on all the deliciousness <br /> coming your way.</p>
        {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
            {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
                <input
                class="input"
                type="email"
                name="contact[email]"
                id="Email"
                value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                placeholder="YOUR EMAIL ADDRES"
                autocorrect="off"
                autocapitalize="off">
                <button type="submit">Submit</button>
            {% endif %}
        {% endform %}
    </div>
</div>