<section data-section-id="{{ section.id }}">
    <div class="bundle-container">
        <h2>Try them all as a bundle.</h2>
        <img src="{{ 'bundle.png' | asset_url }}" alt="bottles" />
        <a href="#" class="button dark">Shop Now</a>
    </div>
</section>