<section data-section-id="{{ section.id }}">
    <div class="pros-container">
        <div class="pros-list">
            <div class="pros-item">
                <h2>No sugar added</h2>
                <p>
                    We are here to lighten things up with our low calorie Rosé. With no added sugar to help naturally sweeten the deal. Because we believe nature does a good job on its own.
                </p>
            </div>
            <div class="pros-item">
                <h2>Natural Ingredients</h2>
                <p>
                    Made with real fruit and premium bubbly. Expertly made in small batches and sustainably farmed...the natural way. 
                </p>
            </div>
            <div class="pros-item">
                <h2>Delivered Straight To You</h2>
                <p>
                    Now offering Jade in all 50 states! Crack.Sparkle. Sip.
                </p>
            </div>
        </div>
        <div class="pros-image">
            <img src="{{ 'pros-image.jpg' | asset_url }}" />
        </div>
    </div>
</section>