<section data-section-id="{{ section.id }}">
    <div class="video-container">
        <video
            id="video"
            class="video-js"
            preload="auto"
            controls
            poster="{{ 'jade-poster.jpg' | asset_url }}"
            data-setup="{}"
            >
            <source src="{{ 'demo.mp4' | asset_url }}" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
        </video>

        <div class="video-text">
            <h2>It's fun if Rose is involved</h2>
            <p>Jade Canned Rosé distinguishes itself with complexity and fruit-based charm. The quality lending to its impeccable flavor that embodies everything you love and want in a Rosé.</p>
        </div>
    </div>
</section>