{% assign s = section.settings %}
{% assign links = linklists[s.menu].links %}

<div class="floating">
  {% render 'navbar' with color: '#000000' id: "floating-navbar" %}
</div>

<section data-component="header" data-section-id="{{ section.id }}" data-section-type="header">
  {% render 'navbar' with color: '#ffffff' id: "original-navbar" %}
</section>