<section
  data-section-id="{{ section.id }}"
  data-section-type="static-collection"
>
<div class="collection-hero">
  <img src="{{ 'bottles.png' | asset_url }}" />
</div>

<div class="collection-wrapper">
    {% render "product-carousel" with heading: "All the sparkling and delicious...", additional_text: "we wanted to make something for the every day end of the night evening or the <br /> life of the party... You choose..." %} 
    {% for product in collection.products %}
      {% assign index = forloop.index | modulo: 2 %}
      {% render "product" with product: product, reverse: index %}
    {% endfor %}
  </div>
</section>