<section data-section-id="{{ section.id }}">
    <div class="hero-container">
        <div class="left">
            <div class="image-backdrop">
                <img src="{{ 'hero.jpg' | asset_url }}" alt="hero" />
            </div>
        </div>
        <div class="right">
            <h1>
                Raise a glass to the <br /> sweeter things in <br /> life
            </h1>
            <div class="mb">
                This delightfully luscious and harmonious sensation <br /> on the palate is sure to leave you wanting more.
            </div>
            <a class="button light" href="/collections/all">
                Shop now
            </a>
        </div>
    </div>
</section>