<section data-section-id="{{ section.id }}">
    <div class="reviews-container">
        <div class="review-list">
            <div class="review-item">
                {% render "star-rating" %}
                <p class="review-text">“I’ve never had something so delivious come from such a pretty bottle. My girlfriends absolutely loved it!“</p>
                <span class="reviewer-name">- Susan</span>
                <div class="reviewer-verified">
                    <img src="{{ 'check.svg' | asset_url }}" alt="check" />
                    Verified buyer
                </div>
            </div>
            <div class="review-item">
                {% render "star-rating" %}
                <p class="review-text">“I’ve never had something so delivious come from such a pretty bottle. My girlfriends absolutely loved it!“</p>
                <span class="reviewer-name">- Susan</span>
                <div class="reviewer-verified">
                    <img src="{{ 'check.svg' | asset_url }}" alt="check" />
                    Verified buyer
                </div>
            </div>
            <div class="review-item">
                {% render "star-rating" %}
                <p class="review-text">“I’ve never had something so delivious come from such a pretty bottle. My girlfriends absolutely loved it!“</p>
                <span class="reviewer-name">- Susan</span>
                <div class="reviewer-verified">
                    <img src="{{ 'check.svg' | asset_url }}" alt="check" />
                    Verified buyer
                </div>
            </div>
        </div>
    </div>
</section>