{% assign s = section.settings %}
{% assign links = linklists[s.menu].links %}

<section data-component="header" data-section-id="{{ section.id }}" data-section-type="header">
    <nav class="nav-mobile">
      <div>
          {% render 'hamburger' %}
      </div>
      <div class="logo">
        <a href="/">
            {% render 'logo' %}
        </a>
      </div>
      <div class="bag-trigger">
          {% render 'cart-icon' %}
      </div>
  </nav>
  <nav class="nav-desktop">
      <div class="menu">
          <a class="nav-link" href="/collections/all">Shop Now</a>
          <a class="nav-link" href="/">Home</a>
      </div>

      <div class="logo-wrapper">
        <a href="/">
          {% render 'logo' %}
        </a>
      </div>

      <div class="header-icons">
          <div class="bag-trigger">
          {% render 'cart-icon' %}
          </div>
      </div>
  </nav>
</section>