<section data-section-id="{{ section.id }}">
    <div class="reviews-container">
        <div class="reviews-glide">
            <div class="reviews-glide__track" data-glide-el="track">
              <ul class="review-list reviews-glide__slides">
                  <li class="review-item reviews-glide__slide">
                    {% render "star-rating" %}
                    <p class="review-text">“I really love the bottle! It taste just just like high end champagne/wine. Definitely a must have. I will being buying it again for regular use and casual nights in.“</p>
                    <span class="reviewer-name">- Moriah</span>
                    <div class="reviewer-verified">
                        <img src="{{ 'check.svg' | asset_url }}" alt="check" />
                        Verified buyer
                    </div>
                  </li>
                  <li class="review-item reviews-glide__slide">
                    {% render "star-rating" %}
                    <p class="review-text">“I bought these as a gift to my daughters. They both really loved it. Thank you Jade. I plan on stocking up for road trip.“</p>
                    <span class="reviewer-name">- Laura</span>
                    <div class="reviewer-verified">
                        <img src="{{ 'check.svg' | asset_url }}" alt="check" />
                        Verified buyer
                    </div>
                  </li>
                  <li class="review-item reviews-glide__slide">
                    {% render "star-rating" %}
                    <p class="review-text">“I have my go-to wines but I thought I give it a try. I was really surprised how good it was. The price was really good too, def a must have!“</p>
                    <span class="reviewer-name">- Janeen</span>
                    <div class="reviewer-verified">
                        <img src="{{ 'check.svg' | asset_url }}" alt="check" />
                        Verified buyer
                    </div>
                  </li>
              </ul>
            </div>
            <div class="reviews-glide__bullets" data-glide-el="controls[nav]">
              <button class="reviews-glide__bullet" data-glide-dir="=0"></button>
              <button class="reviews-glide__bullet" data-glide-dir="=1"></button>
              <button class="reviews-glide__bullet" data-glide-dir="=2"></button>
            </div>
          </div>
    </div>
</section>