{% if color == null %}
{% assign color = "#ffffff" %}
{% endif %}

<div class="icon {{ class }}">
  <svg width="100%" viewBox="0 0 24 24">
    {% case icon %}
      {% when 'chevron-left' %}
        <path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" fill="currentColor" />

      {% when 'chevron-right' %}
        <path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor" />

      {% when 'close' %}
        <path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" fill="currentColor" />

      {% when 'menu' %}
        <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="currentColor" />

      {% when 'star' %}
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-240.000000, -2566.000000)" fill="{{ color }}">
              <g transform="translate(136.000000, 2566.000000)">
                  <polygon id="Star" points="114 12.5841413 108.122147 15.5949741 109.627419 9.84546358 104.489435 5.95675005 111.297596 5.4141899 114 1.4033219e-13 116.702404 5.4141899 123.510565 5.95675005 118.372581 9.84546358 119.877853 15.5949741"></polygon>
              </g>
          </g>
        </g>

    {% endcase %}
  </svg>
</div>