<div>
    {% render 'icon' with icon: 'star' %}
    {% render 'icon' with icon: 'star' %}
    {% render 'icon' with icon: 'star' %}
    {% render 'icon' with icon: 'star' %}
    {% render 'icon' with icon: 'star' %}
</div>