h1 {
  margin: 2rem 0; }

@media (min-width: 768px) {
  header {
    background-color: #022826; } }

.hero-container {
  flex-direction: column;
  padding-bottom: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #022826;
  color: #fff; }
  @media (min-width: 768px) {
    .hero-container {
      flex-direction: row;
      padding: 0 5rem 5rem;
      text-align: left;
      margin-top: 92px; } }
  .hero-container .left, .hero-container .right {
    flex: 1; }
  .hero-container .left .image-backdrop {
    width: 100%;
    background-color: transparent; }
    @media (min-width: 768px) {
      .hero-container .left .image-backdrop {
        width: 80%;
        background-color: #013E3B; } }
    .hero-container .left .image-backdrop img {
      width: 100%; }
      @media (min-width: 768px) {
        .hero-container .left .image-backdrop img {
          position: relative;
          left: -2rem;
          top: 1rem; } }
  .hero-container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem; }
    @media (min-width: 768px) {
      .hero-container .right {
        display: block; } }

.mb {
  margin-bottom: 2rem; }

.button {
  font-family: "AzoSans-Medium", sans-serif;
  display: flex;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: normal;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button.light {
    background-color: #fff;
    color: #000000; }
  .button.dark {
    background-color: #000000;
    color: #fff; }
  .button.disabled {
    cursor: not-allowed;
    pointer-events: none; }

.collection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEAE7;
  padding: 3rem 4rem;
  font-weight: normal;
  padding-bottom: 7rem;
  flex-direction: column;
  text-align: center; }
  .collection-container .products {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .collection-container .products {
        flex-direction: row; } }
    .collection-container .products .product-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem;
      margin-top: 2rem; }
      @media (min-width: 768px) {
        .collection-container .products .product-tile {
          margin-top: 0; } }
      .collection-container .products .product-tile .product-description {
        line-height: 3rem;
        font-weight: normal;
        text-align: center; }

.section-delimeter {
  margin: 0 4rem;
  height: 2px;
  background-color: #DFDEDB; }

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEAE7;
  padding: 3rem 4rem;
  font-weight: normal;
  flex-direction: column; }
  .video-container .video-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%; }
    @media (min-width: 768px) {
      .video-container .video-text {
        flex-direction: row;
        text-align: left; } }
    .video-container .video-text h2, .video-container .video-text p {
      flex: 1; }
  .video-container .video-js .vjs-big-play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #022826; }
    .video-container .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%); }

.pros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEAE7;
  padding: 3rem 4rem;
  font-weight: normal;
  flex-direction: column-reverse;
  font-weight: normal;
  justify-content: center;
  text-align: center; }
  @media (min-width: 768px) {
    .pros-container {
      flex-direction: row;
      text-align: left; } }
  @media (min-width: 768px) {
    .pros-container .pros-list {
      width: 30%; } }
  .pros-container .pros-image {
    margin-left: 3rem; }
  .pros-container .pros-item {
    margin-top: 4rem; }

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEAE7;
  padding: 3rem 4rem;
  font-weight: normal;
  background-color: #022826;
  color: #fff;
  padding: 5rem 4rem; }
  .reviews-container .review-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      .reviews-container .review-list {
        flex-direction: row; } }
    .reviews-container .review-list .review-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 3rem; }
      @media (min-width: 576px) {
        .reviews-container .review-list .review-item {
          width: 50%; } }
      @media (min-width: 768px) {
        .reviews-container .review-list .review-item {
          width: 20%;
          margin-top: 0; }
          .reviews-container .review-list .review-item:not(:first-child) {
            margin-left: 3rem; } }
      .reviews-container .review-list .review-item .reviewer-name {
        text-transform: uppercase;
        margin-top: 2rem; }
      .reviews-container .review-list .review-item .review-text {
        font-style: italic; }
      .reviews-container .review-list .review-item .reviewer-verified {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        color: #7A7A7A;
        font-size: 1rem; }
        .reviews-container .review-list .review-item .reviewer-verified img {
          margin-right: 0.5rem; }

.instafeed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEAE7;
  padding: 3rem 4rem;
  font-weight: normal; }
  .instafeed-container #insta-feed {
    width: 100%; }
    .instafeed-container #insta-feed h2 {
      color: #D5869D;
      text-transform: uppercase;
      margin-top: 0; }

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEAE7;
  padding: 3rem 4rem;
  font-weight: normal;
  flex-direction: column;
  padding-bottom: 5rem;
  text-align: center; }
