h1 {
  margin: 2rem 0; }

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #022826;
  color: #fff;
  padding: 0 5rem 5rem; }
  .hero-container .left, .hero-container .right {
    flex: 1; }
  .hero-container .left .image-backdrop {
    width: 80%;
    background-color: #013E3B; }
    .hero-container .left .image-backdrop img {
      position: relative;
      left: -2rem;
      top: 1rem;
      width: 100%;
      height: 400px; }

.mb {
  margin-bottom: 2rem; }

.button {
  display: flex;
  width: fit-content;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: normal;
  cursor: pointer; }
  .button.light {
    background-color: #fff;
    color: #000000; }
  .button.dark {
    background-color: #000000;
    color: #fff; }

.collection-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 3rem 7rem;
  background-color: #E0DFDC; }
  .collection-container .products {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .collection-container .products .product-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem; }
      .collection-container .products .product-tile .product-description {
        line-height: 3rem;
        font-weight: normal;
        text-align: center; }

.section-delimeter {
  margin: 0 4rem;
  border-bottom: 1px solid #E0DFDC; }
