h1 {
  margin: 2rem 0; }

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #022826;
  color: #fff;
  padding: 0 5rem 5rem; }
  .hero-container .left, .hero-container .right {
    flex: 1; }
  .hero-container .left .image-backdrop {
    width: 80%;
    background-color: #013E3B; }
    .hero-container .left .image-backdrop img {
      position: relative;
      left: -2rem;
      top: 1rem;
      width: 100%;
      height: 400px; }
  .hero-container .right h1 {
    font-size: 4rem; }

.mb {
  margin-bottom: 2rem; }

.button {
  display: flex;
  width: fit-content;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: normal; }
  .button.light {
    background-color: #fff;
    color: #000000; }
