.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

html, body {
  background-color: #EBEAE7; }

.header-container {
  background-color: #022826;
  text-transform: uppercase;
  font-weight: normal; }
  .header-container .nav-mobile {
    z-index: 300;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: #000000;
    background-color: #fff; }
    @media (min-width: 768px) {
      .header-container .nav-mobile {
        display: none; } }
  .header-container .nav-desktop {
    z-index: 300;
    display: none;
    color: #fff;
    padding: 3rem 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 768px) {
      .header-container .nav-desktop {
        display: flex; } }
    .header-container .nav-desktop .menu {
      display: flex;
      flex-direction: row; }
      .header-container .nav-desktop .menu a.nav-link:not(:first-child) {
        margin-left: 3rem; }
    .header-container .nav-desktop .header-icons {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .header-container .nav-desktop .header-icons img {
        height: 18px; }
      .header-container .nav-desktop .header-icons div {
        margin-right: 1.5rem; }

h1 {
  font-size: 3rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3rem; } }

.footer-container {
  background-color: #022826;
  height: 300px;
  padding: 5rem;
  color: #fff;
  font-weight: normal; }
  .footer-container .footer-items {
    width: 100%; }
    @media (min-width: 768px) {
      .footer-container .footer-items {
        width: 380px; } }
    .footer-container .footer-items form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      .footer-container .footer-items form button {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #7A7A7A;
        text-transform: uppercase;
        color: #fff;
        font-size: 1rem;
        outline: none; }
  .footer-container h2 {
    margin: 0; }
  .footer-container .input {
    background-color: transparent;
    color: #7A7A7A;
    outline: none;
    height: 25px;
    font-weight: normal;
    border-bottom: 1px solid #7A7A7A;
    padding-left: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem; }
