.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.underlined {
  border-bottom: 2px solid #000000; }

.uppercase {
  text-transform: uppercase; }

.muted {
  color: #7A7A7A; }

.flex {
  display: flex; }
  .flex.column-on-small {
    flex-direction: column; }
    @media (min-width: 768px) {
      .flex.column-on-small {
        flex-direction: row; } }

.align-items-center {
  align-items: center; }

.justify-content-between {
  justify-content: space-between; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.small-text {
  font-size: 1.1rem; }

.pointer {
  cursor: pointer; }

.full-width {
  width: 100%; }

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.align-self-center {
  align-self: center; }

@font-face {
  font-family: "AzoSans";
  src: url("AzoSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "AzoSans-Medium";
  src: url("AzoSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Butler-ExtraBold";
  src: url("Butler_ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: "Butler-Bold";
  src: url("Butler_Bold.otf") format("opentype"); }

@font-face {
  font-family: "Butler-Medium";
  src: url("Butler_Medium.otf") format("opentype"); }

html,
body {
  background-color: #EBEAE7;
  font-family: "AzoSans", sans-serif;
  font-weight: normal; }

p,
span {
  font-family: "AzoSans", sans-serif;
  letter-spacing: 1px; }

.bag-trigger {
  cursor: pointer; }

.hidden {
  display: none !important; }

.button {
  font-family: "AzoSans-Medium", sans-serif;
  display: flex;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: normal;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .button.light {
    background-color: #fff;
    color: #000000; }
  .button.dark {
    background-color: #000000;
    color: #fff; }
  .button.disabled {
    cursor: not-allowed;
    pointer-events: none; }

header {
  text-transform: uppercase;
  font-family: "AzoSans", sans-serif;
  letter-spacing: 2px;
  z-index: 300;
  width: 100%;
  background-color: #022826;
  position: relative; }
  header .floating {
    position: fixed;
    top: -92px;
    left: 0;
    z-index: 300;
    width: 100%;
    transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8); }
    header .floating .nav-desktop {
      color: #000000; }
  header .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: #000000; }
    @media (min-width: 768px) {
      header .nav-mobile {
        display: none; } }
  header .nav-desktop {
    z-index: 300;
    display: none;
    color: #fff;
    padding: 3rem 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 768px) {
      header .nav-desktop {
        display: flex; } }
    header .nav-desktop .menu {
      display: flex;
      flex-direction: row; }
      header .nav-desktop .menu a.nav-link:not(:first-child) {
        margin-left: 3rem; }
    header .nav-desktop .header-icons {
      display: flex;
      flex-direction: row;
      align-items: center; }
      header .nav-desktop .header-icons img {
        height: 18px; }
      header .nav-desktop .header-icons div {
        margin-right: 1.5rem; }

h1 {
  font-family: "Butler-ExtraBold", sans-serif;
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Butler-Bold", sans-serif;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3rem; } }

.footer-container {
  background-color: #022826;
  height: 300px;
  padding: 5rem;
  color: #fff;
  font-weight: normal; }
  .footer-container .footer-items {
    width: 100%; }
    @media (min-width: 768px) {
      .footer-container .footer-items {
        width: 380px; } }
  .footer-container h2 {
    margin: 0; }

form.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  form.form button {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #7A7A7A;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    outline: none; }
  form.form .input {
    background-color: transparent;
    color: #7A7A7A;
    outline: none;
    height: 25px;
    font-weight: normal;
    border-bottom: 1px solid #7A7A7A;
    padding-left: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem; }

.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(-100%);
  z-index: 1000;
  transition: transform 0.4s ease-in-out;
  padding: 4rem; }
  .drawer-menu.open {
    transform: translateX(0); }
  .drawer-menu .drawer__header {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .drawer-menu .drawer__body {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .drawer-menu .drawer__body .drawer__item {
      margin-top: 2rem;
      font-size: 4rem; }
      .drawer-menu .drawer__body .drawer__item a {
        font-family: "Butler-Medium", sans-serif; }
      .drawer-menu .drawer__body .drawer__item.secondary {
        font-size: 2rem;
        text-transform: uppercase; }
  .drawer-menu .drawer__footer {
    width: 100%;
    padding: 4rem;
    position: absolute;
    left: 0;
    bottom: 0; }

.bag-drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #fff;
  transition: transform 0.4s ease-in-out;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .bag-drawer {
      width: 450px; } }
  .bag-drawer.open {
    transform: translateX(0); }
  .bag-drawer .drawer__header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .bag-drawer .drawer__body {
    margin-top: 2rem; }
    .bag-drawer .drawer__body .drawer__item {
      margin-top: 2rem;
      border-top: 2px solid #7A7A7A;
      padding-top: 2rem;
      display: flex;
      align-items: center; }
      .bag-drawer .drawer__body .drawer__item:last-child {
        border-bottom: 2px solid #7A7A7A;
        padding-bottom: 2rem; }
      .bag-drawer .drawer__body .drawer__item .drawer__item-image {
        flex: 1;
        position: relative;
        left: -25px; }
      .bag-drawer .drawer__body .drawer__item .drawer__item-info {
        flex: 2;
        position: relative;
        left: -25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px; }
      .bag-drawer .drawer__body .drawer__item .drawer__item-price {
        height: 100px;
        justify-content: flex-start; }
    .bag-drawer .drawer__body .count-modifier {
      cursor: pointer;
      font-size: 2rem; }
  .bag-drawer .cart-subtotal {
    display: flex;
    flex-direction: column; }
  .bag-drawer .drawer__footer {
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center; }
  .bag-drawer .dashed {
    width: 100%;
    position: relative;
    top: -4px;
    border-bottom: 1px dashed #7A7A7A; }
  .bag-drawer .small-text {
    margin-top: 0.3rem; }

.drawer-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999; }
