header .logo {
  fill: #000000; }

header .cart-icon {
  stroke: #000000; }

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px; }
  .product-container .product {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    justify-content: center; }
    @media (min-width: 768px) {
      .product-container .product {
        flex-direction: row;
        left: -20px; } }
    @media (min-width: 992px) {
      .product-container .product {
        left: -50px; } }
    .product-container .product__image {
      display: flex;
      justify-content: center; }
      .product-container .product__image img {
        height: 300px; }
        @media (min-width: 992px) {
          .product-container .product__image img {
            height: 500px; } }
    .product-container .product__details {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (min-width: 768px) {
        .product-container .product__details {
          display: block;
          text-align: left;
          width: 500px; } }
      .product-container .product__details-description {
        line-height: 2.5rem; }
      .product-container .product__details-quantity-picker {
        padding: 2rem 0;
        border-top: 2px solid #DDDCD9;
        border-bottom: 2px solid #DDDCD9; }
        .product-container .product__details-quantity-picker .quantity-title {
          font-size: 1.1rem;
          font-family: "AzoSans-Medium", sans-serif; }
        .product-container .product__details-quantity-picker .quantity-help-text {
          color: #7A7A7A;
          font-size: 1.5rem; }
      .product-container .product__details .quantity-help-text {
        margin-top: 1rem; }
        @media (min-width: 768px) {
          .product-container .product__details .quantity-help-text {
            margin-top: 0; } }
  .product-container .ingredients-container {
    text-align: center;
    padding: 4rem 2rem; }
    .product-container .ingredients-container h2 {
      color: #D5869D; }
    .product-container .ingredients-container .ingredients {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; }
      @media (min-width: 768px) {
        .product-container .ingredients-container .ingredients {
          flex-direction: row; } }
      .product-container .ingredients-container .ingredients .ingredient {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .product-container .ingredients-container .ingredients .ingredient span {
          text-transform: uppercase;
          font-family: "Butler-Medium", sans-serif;
          font-weight: bold; }

.people-also-love {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }
  @media (min-width: 768px) {
    .people-also-love {
      width: 700px !important; } }
  @media (min-width: 992px) {
    .people-also-love {
      width: 800px !important; } }
  @media (min-width: 768px) {
    .people-also-love {
      flex-direction: row; } }
  .people-also-love span,
  .people-also-love a {
    margin-bottom: 1rem; }
  .people-also-love span {
    font-family: "AzoSans-Medium", sans-serif; }
  .people-also-love a {
    font-family: "Butler-Bold", sans-serif;
    font-size: 2rem;
    color: #7A7A7A;
    letter-spacing: 1px; }

.yotpo {
  width: 100%; }
  @media (min-width: 768px) {
    .yotpo {
      width: 700px !important; } }
  @media (min-width: 992px) {
    .yotpo {
      width: 800px !important; } }

.quantity-picker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #000000;
  font-family: "AzoSans-Medium", sans-serif;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out; }
  .quantity-picker:hover {
    background-color: #000000;
    color: #fff; }
  .quantity-picker:not(:last-child) {
    margin-right: 2rem; }
  .quantity-picker.selected {
    background-color: #000000;
    color: #fff; }
